:root {
	--font-family-my-sans-serif: Lato, 'Open Sans', sans-serif;
	--font-family-my-serif: Georgia, Times, serif;
	--font-family-headline:'Alfa Slab One', cursive;
	--dcs-blue: #02a0e0;
}

body {
	background: var(--dcs-blue) !important;
	font-family: var(--font-family-my-sans-serif) !important;
	position:relative;
}

nav.navbar {
	background:rgba(0,0,0,.5) !important;
	backdrop-filter:blur(0.25rem);
	-webkit-backdrop-filter:blur(0.25rem);
	
}

a:link, a:visited {
	color:var(--bs-orange);
}

a:hover {
	color:var(--bs-warning);
}

a:active {
	color:var(--bs-yellow);
}

.bg-dcs-blue {
	background:var(--dcs-blue) !important;
}

.text-dcs-blue {
	color:var(--dcs-blue) !important;
}

.mt-5rem {
	margin-top:5rem !important;
}

h1, .text-headline {
	font-family:var(--font-family-headline);
}

div.card-img-top {
	height:10rem;
	background-size:cover !important;
}

div#background {
	background: url(/images/team2018-2019.png);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background-size: cover;
	filter: blur(0.35rem) opacity(0.25);
	width: 100%;
	height: 100%;
}

div.img-header {
	background-size:cover !important;
	background-repeat: no-repeat;
	background-size: cover;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	filter:brightness(0.35);	

}

div#front-img-header {
	background:url(/images/team2018-2019.png);
	background-size:cover !important;
	background-position-y:50%;
	background-repeat: no-repeat;
	background-size: cover;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	filter:brightness(0.35);	
}

.text-shadow-1 {
	text-shadow: 1px 1px 5px rgba(0,0,0,.25);
}

.text-shadow-3 {
	text-shadow: 3px 3px 5px rgba(0,0,0,.25);
}

.bg-black-25 {
	background:rgba(0,0,0, .25) !important;
}

.mw-40rem {
	max-width:40rem !important;
}

.mw-30rem {
	max-width:30rem !important;
}

.mw-25rem {
	max-width:25rem !important;
}

.mw-20rem {
	max-width:20rem !important;
}


.minw-20rem {
	min-width:20rem !important;
}

.vh-15 {
	height:15vh !important;
}

.vh-25 {
	height:25vh !important;
}
.h-20rem {
	height:20rem !important;
}

@media (min-width: 575.98px) {
	.flex-basis-auto {
		flex-basis:auto !important;
	}	
}

@media (min-width: 576px) {
	.flex-basis-sm-20rem {
		flex-basis:20rem !important;
	}	
	
	.flex-basis-sm-25rem {
		flex-basis:25rem !important;
	}	
	
	.flex-basis-sm-30rem {
		flex-basis:30rem !important;
	}
	
	.flex-basis-sm-40rem {
		flex-basis:40rem !important;
	}		


}