/* alfa-slab-one-regular - latin-ext_latin */
@font-face {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: 400;
  src: url('/webfonts/alfa-slab-one-v17-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
	  url('/webfonts/alfa-slab-one-v17-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	  url('/webfonts/alfa-slab-one-v17-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	  url('/webfonts/alfa-slab-one-v17-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
	  url('/webfonts/alfa-slab-one-v17-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	  url('/webfonts/alfa-slab-one-v17-latin-ext_latin-regular.svg#AlfaSlabOne') format('svg'); /* Legacy iOS */
}

/* lato-100 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url('/webfonts/lato-v23-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
	  url('/webfonts/lato-v23-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	  url('/webfonts/lato-v23-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
	  url('/webfonts/lato-v23-latin-100.woff') format('woff'), /* Modern Browsers */
	  url('/webfonts/lato-v23-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
	  url('/webfonts/lato-v23-latin-100.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-100italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url('/webfonts/lato-v23-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local(''),
	  url('/webfonts/lato-v23-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	  url('/webfonts/lato-v23-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
	  url('/webfonts/lato-v23-latin-100italic.woff') format('woff'), /* Modern Browsers */
	  url('/webfonts/lato-v23-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
	  url('/webfonts/lato-v23-latin-100italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('/webfonts/lato-v23-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
	  url('/webfonts/lato-v23-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	  url('/webfonts/lato-v23-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	  url('/webfonts/lato-v23-latin-300.woff') format('woff'), /* Modern Browsers */
	  url('/webfonts/lato-v23-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	  url('/webfonts/lato-v23-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url('/webfonts/lato-v23-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
	  url('/webfonts/lato-v23-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	  url('/webfonts/lato-v23-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
	  url('/webfonts/lato-v23-latin-300italic.woff') format('woff'), /* Modern Browsers */
	  url('/webfonts/lato-v23-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
	  url('/webfonts/lato-v23-latin-300italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/webfonts/lato-v23-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
	  url('/webfonts/lato-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	  url('/webfonts/lato-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	  url('/webfonts/lato-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
	  url('/webfonts/lato-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	  url('/webfonts/lato-v23-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('/webfonts/lato-v23-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
	  url('/webfonts/lato-v23-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	  url('/webfonts/lato-v23-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
	  url('/webfonts/lato-v23-latin-italic.woff') format('woff'), /* Modern Browsers */
	  url('/webfonts/lato-v23-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
	  url('/webfonts/lato-v23-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/webfonts/lato-v23-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
	  url('/webfonts/lato-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	  url('/webfonts/lato-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	  url('/webfonts/lato-v23-latin-700.woff') format('woff'), /* Modern Browsers */
	  url('/webfonts/lato-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	  url('/webfonts/lato-v23-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('/webfonts/lato-v23-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
	  url('/webfonts/lato-v23-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	  url('/webfonts/lato-v23-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
	  url('/webfonts/lato-v23-latin-700italic.woff') format('woff'), /* Modern Browsers */
	  url('/webfonts/lato-v23-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
	  url('/webfonts/lato-v23-latin-700italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('/webfonts/lato-v23-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
	  url('/webfonts/lato-v23-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	  url('/webfonts/lato-v23-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
	  url('/webfonts/lato-v23-latin-900.woff') format('woff'), /* Modern Browsers */
	  url('/webfonts/lato-v23-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
	  url('/webfonts/lato-v23-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-900italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url('/webfonts/lato-v23-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local(''),
	  url('/webfonts/lato-v23-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	  url('/webfonts/lato-v23-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
	  url('/webfonts/lato-v23-latin-900italic.woff') format('woff'), /* Modern Browsers */
	  url('/webfonts/lato-v23-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
	  url('/webfonts/lato-v23-latin-900italic.svg#Lato') format('svg'); /* Legacy iOS */
}


:root {
	--font-family-my-sans-serif: Lato, 'Open Sans', sans-serif;
	--font-family-my-serif: Georgia, Times, serif;
	--font-family-headline:'Alfa Slab One', cursive;
	--dcs-blue: #02a0e0;
}

body {
	background: var(--dcs-blue) !important;
	font-family: var(--font-family-my-sans-serif) !important;
	position:relative;
}

nav.navbar {
	background:rgba(0,0,0,.5) !important;
	backdrop-filter:blur(0.25rem);
	-webkit-backdrop-filter:blur(0.25rem);
	
}

#navbarNav a.nav-link, nav.navbar a.navbar-brand {
	color:var(--bs-white);
}

#navbarNav a.nav-link:hover, nav.navbar a.navbar-brand:hover {
	color:var(--bs-orange);
}

#navbarNav a.nav-link:active, nav.navbar a.navbar-brand:active {
	color:var(--bs-yellow);
	text-decoration: underline;
}


a:link, a:visited {
	color:var(--bs-orange);
}

a:hover {
	color:var(--bs-warning);
}

a:active {
	color:var(--bs-yellow);
}

.bg-dcs-blue {
	background:var(--dcs-blue) !important;
}

.text-dcs-blue {
	color:var(--dcs-blue) !important;
}

.mt-5rem {
	margin-top:5rem !important;
}

h1, .text-headline {
	font-family:var(--font-family-headline);
}

div.card-img-top {
	height:10rem;
	background-size:cover !important;
}

.cursor-pointer {
	cursor: pointer;
}

div#background {
	background: url(/images/ek_team_2022-11-04.jpg);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background-size: cover;
	filter: blur(0.35rem) opacity(0.25);
	width: 100%;
	height: 100%;
}

div.img-header, div#front-img-header {
	background:url(/images/team_11-02-23.jpg);
	background-size:cover !important;
	background-position-y:18%;
	background-repeat: no-repeat;
	background-size: cover;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	filter:grayscale(1) brightness(0.3);
	opacity:0.5;

}

x-div#front-img-header {
	background:url(/images/ek_team_2022-11-04.jpg);
	background-size:cover !important;
	background-position-y:30%;
	background-repeat: no-repeat;
	background-size: cover;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	filter:brightness(0.35);	
}

.text-white-25 {
	--bs-text-opacity: 0.25;
	color: rgba(255,255,255,.5)!important;
}

.text-shadow-1 {
	text-shadow: 1px 1px 5px rgba(0,0,0,.25);
}

.text-shadow-3 {
	text-shadow: 3px 3px 5px rgba(0,0,0,.25);
}

.bg-black-10 {
	background:rgba(0,0,0, .10) !important;
}

.bg-black-25 {
	background:rgba(0,0,0, .25) !important;
}

.team-members {
	column-count: 2;
}

.team-member {
	display: flex;
	gap: 0.25rem;
	padding-bottom: 0.75rem;
	align-items: center;
}

.role-label {
	margin-top: -0.3rem;
}

.mw-40rem {
	max-width:40rem !important;
}

.mw-30rem {
	max-width:30rem !important;
}

.mw-25rem {
	max-width:25rem !important;
}

.mw-20rem {
	max-width:20rem !important;
}

.mw-10rem {
	max-width:10rem !important;
}

.mh-5rem {
	max-height:5rem !important;
}

.mh-6rem {
	max-height:6rem !important;
}


.minw-20rem {
	min-width:20rem !important;
}

.vh-15 {
	height:15vh !important;
}

.vh-25 {
	height:25vh !important;
}
.h-20rem {
	height:20rem !important;
}

@media (min-width: 575.98px) {
	.flex-basis-auto {
		flex-basis:auto !important;
	}	
}

@media (min-width: 576px) {
	.flex-basis-sm-20rem {
		flex-basis:20rem !important;
	}	
	
	.flex-basis-sm-25rem {
		flex-basis:25rem !important;
	}	
	
	.flex-basis-sm-30rem {
		flex-basis:30rem !important;
	}
	
	.flex-basis-sm-40rem {
		flex-basis:40rem !important;
	}		


}

@media (min-width: 768px) {
	.w-md-auto {
		width:auto !important;
	}	
	.gap-md-1 {
		gap:.25rem!important;
	}
	.gap-md-2 {
		gap:.5rem!important;
	}
	.gap-md-3 {
		gap:1rem!important;
	}
	.gap-md-4 {
		gap:1.5rem!important;
	}
	
	.flex-basis-md-30rem {
		flex-basis:30rem !important;
	}

}